@use "./constants.scss" as c;
@import "./fonts/fonts.scss";

body {
  margin: 0;
  background-color: c.$background-color;
  color: c.$color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.full-height {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

html {
  font-size: c.$font-size;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
