@use "../../styles/constants.scss" as c;

.menu {
  height: 100%;
}

.separator {
  border: none;
  margin: 0;
  padding: 0;
  background-color: c.$color-white;
  opacity: 0.5;
  width: 3px;
  height: 30em;
  border-radius: 1px;
}

.scroll {
  height: 100%;
}

.content {
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  padding-left: 3em;
}
